* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary: #023047;
    --tag-geo: #008001;
    --tag-tech: #000080;
    --tag-cucina: #800080;
    --tag-viaggi: #f3a360;
    --tag-arte: #ffd601;
}

body {
    background: var(--primary);
}

i {
    font-size: 2rem;
}

.tag-geo {
    background: var(--tag-geo);
}

.tag-tech {
    background: var(--tag-tech);
}

.tag-cucina {
    background: var(--tag-cucina);
}

.tag-viaggi {
    background: var(--tag-viaggi);
}

.tag-arte {
    background: var(--tag-arte);
}

.tag-prova {
    background: red;
}